html {
  background-color: #f4b642;
}

body {
  width: 800px;
  margin: 0 auto;
}

aside {
  width: 200px;
  margin-left: 20px;
  float: right;
}

aside > img {
  width: 100%;
}

<<<<<<< HEAD
h1 {
  color: black;

}

p {
  font-family: sansita;
}
=======
>>>>>>> 0d307dde5c813f6204d4995faedca6ad7ce16107
