.u-top-space {
  margin-top: 1rem;
}

.primary.dark{
  background: #AFB42B;
}
.primary {
  background: #CDDC39;
  color: #212121;
}
.primary.light{
  background: ##F0F4C3;
}


.accent{
  background-color: ##607D8B;
}

header {
  margin-bottom: 1rem;
}

section {
  border-top: 2px solid;
  margin-bottom: 3rem;
}

footer{
  border-top: 1px solid #BDBDBD;
  margin-top: 1rem;
  padding-top: 1rem;
}
